<div class="area" >


    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="quiz-container">
        <div class="header">
            <div class="category">@ViewBag.Categorias</div>
            <div class="score">Puntaje: @ViewBag.PuntajeActual</div>
        </div>
        <div class="question">@ViewBag.pregunta.Enunciado</div>
        <ul class="answers">
            @foreach (var respuesta in ViewBag.respuestas)
            {
                <li><button class="answer" id="respuesta.Correcta">@respuesta.Contenido</button></li>
            }
        </ul>
        <div class="username">Usuario: @ViewBag.Username</div>
    </div>
</div>