<div class="area" >


    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <div class="quiz-container">
        <div class="header">
            <div class="category">@ViewBag.Categorias</div>
            <div class="score">Puntaje: @ViewBag.PuntajeActual</div>
            <div class="category"> @ViewBag.categoria</div>
        </div>
        <div class="question">@ViewBag.pregunta.Enunciado</div>
        <ul class="answers">
            @foreach (Respuestas respuesta in ViewBag.respuestas)
            {
                <form action='@Url.Action("VerificarRespuesta","Home")' method="post" class="respuestas" class="res_option_@respuesta.Correcta.ToString()">
                    <input type = "hidden" value="@respuesta.IdPregunta" name = "idPregunta">
                    <input type = "hidden" value="@respuesta.IdRespuesta" name = "idRespuesta">
                    <input name="categoria" required id='res_@respuesta.IdRespuesta' type="submit" value="" class="res_option_@respuesta.Correcta.ToString()"  data-pregunta ="@respuesta.IdPregunta">
                    <label class="res_label" for="res_@respuesta.IdRespuesta">@respuesta.Contenido</label>
                </form>

            }
        </ul>
        <div class="username">Usuario: @ViewBag.Username</div>
    </div>
</div>